.container{
    display:flex;
    background-color: orange;
    align-items: center;
    height: 100px;
    width: 100%;
    justify-content: center;
    position: relative;
}
.menu{
    height: 64px;
    width: 64px;
    position: absolute;
    top: 16px;
    left:16px;
    cursor: pointer;
    @media screen and (max-width:500px) {
        height: 32px;
        width: 32px;
        top: 32px;
    }
}
